src/main/resources/META-INF/mule-restlet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/restlet"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/restlet"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"/>

    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" />

    <xsd:annotation>
        <xsd:documentation>
            Restlet is a lightweight REST framework for Java. The Mule/Restlet 
            integration enables you to build RESTful services and perform
            routing and message manipulation with URL templates.
            
        </xsd:documentation>
        
        <xsd:appinfo>
            <schemadoc:short-name>Restlet</schemadoc:short-name>
            <schemadoc:page-title>Restlet Transport</schemadoc:page-title>

            <schemadoc:transport-features receiveEvents="false" dispatchEvents="true" responseEvents="true"
                                          requestEvents="false"
                                          transactions="false" streaming="true">
                <schemadoc:inboundMEPs in-only="false" in-out="false" in-optional-out="false"/>
                <schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:element name="uri-template-filter" type="uriTemplateFilterType" substitutionGroup="mule:abstract-filter" />
    <xsd:complexType name="uriTemplateFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractFilterType">
                <xsd:attribute name="pattern" type="xsd:string" />
                <xsd:attribute name="verbs" type="xsd:string" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="connector" type="restletConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Restlet Transport
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="restletConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="component" type="restletComponentType"
        substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                Represents a Restlet component.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="restletComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
                <xsd:attributeGroup ref="componentAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="componentAttributes">
        <xsd:attribute name="restlet-ref" type="xsd:string" />
    </xsd:attributeGroup>


</xsd:schema>